* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", cursive;
}
body {
    background: url("./src/backgroound3.jpg");
    background-size: cover;
    background-attachment: fixed;
}
div.header {
    display: flex;
    flex-direction: column;
}
h1,
h2 {
    color: white;
    text-align: center;
    padding-top: 2vw;
}

#container {
    width: 39vw;
    height: 39vw;
    background: white;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1rem;
    border: 3px, solid, wheat;
}
#container.hide {
    display: none;
}

#container div {
    width: 13vw;
    height: 13vw;
    background-image: url("./src/pngwing.com.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#container div img {
    width: 9vw;
    height: 9vw;
    display: block;
    margin: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

button img {
    width: 18vw;
    height: 14vw;
    margin: 10vw;
}
button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
button.hide {
    display: none;
}
